.BugDetailPopup 
{
    position: fixed;
    z-index: 10;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.BugDetail 
{
    background-color: hsla(0, 0%, 4%, 1); 
    border: 1px solid hsla(0, 0%, 100%, 0.14); 
    display: flex;
    flex-direction: column; 
    margin: auto; 
    width: 70vw;  
    height: 80vh;
    margin: auto; 
    align-items: center; 
    border-radius: 5px;
    overflow: hidden;
    z-index: 15;
    overflow-y: scroll;
}

.BugDetailBackground 
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 0;
    z-index: 10;
    background: rgba(15, 15, 15, 0.4);
}

.BugDetailDescription 
{
    width: 100%;
    color: hsla(0,0%,63%, 1);
    padding: 10px;
    text-align: left;
}

.BugDetailLogs 
{
    width: 100%;
    color: hsla(0,0%,63%, 1);
    padding: 10px;
}

.BugDetailName 
{
    width: 100%;
    color: hsla(0, 0%, 93%, 1);
    font-weight: bold;
    padding: 10px;
}